<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- Íconos -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <title>Cifrar</title>
  <style>
    body {
      background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    
    }
    .container{
    padding: 50px;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    color: rgb(97, 97, 97);
    border-radius: 25px;
    box-shadow: 4px 4px 4px 0px rgb(68, 67, 67);
    width: 500px;
  }
  h1{
    color: rgb(39, 0, 130);;
  }
  .btn{
    background-color: rgb(39, 0, 130);
    border-radius: 20px;
    color: white;
    border-color: rgb(39, 0, 130);
  }
  .table-light{
    margin-top: 5vh;
  }
  .input-group-text{
    background-color: rgb(39, 0, 130);
    color: white;
  }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        Inicio
      </a>
      <ul class="nav">
        <li class="navbar-brand">
          <a class="navbar-brand" aria-current="page" href="/cifrar">Cifrar</a>
        </li>
        <li class="navbar-brand">
          <a class="navbar-brand" href="/descifrar">Descifrar</a>
        </li>
        </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="card-title text-center">
      <h1>¡Cifra en AES!</h1>
      <br>
    </div>
    <div class="">
      <form action="/cifrar" method="POST">
        <div class="">
          <div class="mb-3 input-group">
            <span class="input-group-text">¿Qué mensaje quieres cifrar?</span>
            <input id="nya" name="nya" type="text" class="form-control"
              value="<% if(typeof valores != 'undefined') { %><%= valores.nya %><%}%>">
          </div>
          <div class="mb-3 input-group">
            <span class="input-group-text">Contraseña</span>
            <input id="text" name="text" type="text" class="form-control"
              value="<% if(typeof valores != 'undefined') { %><%= valores.text %><%}%>" minlength="16" maxlength="32"
              required placeholder="">
          </div>
          <div class="mb-3">
            <div class="form">
              <select name="type" class="form-select" id="floatingSelect" aria-label="Floating label select example"
                required>
                <option selected="true" value='' id='dissabled' disabled hidden>
           Tipo de cifrado
                </option>
                <option value="128" id="128">128 bits</option>
                <option value="192" id="192">192 bits</option>
                <option value="256" id="256">254 bits</option>
              </select>
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-center btn-group-lg">
            <button type="submit" i class="btn btn-outline-primary">Cifrar</button>
          </div>
        </div>
    </div>
  </div>
  </form>

  <%if(typeof newValores !='undefined' ){%>


    <br>
    <div class="container col-4">
      <div class="card text-center">
        <table>

          <tr>
            <td>
              <%=newValores.err%> Contraseña de <%=newValores.text.length%> caracteres, 
                  <%if(newValores.text.length===16){%>
                    AES 128 bits
                    <%}%>
                      <%if(newValores.text.length===24){%>
                        AES 192 bits
                        <%}%>
                          <%if(newValores.text.length===32){%>
                           AES 256 bits
                            <%}else{%>
                              <%if(newValores.text.length !==(16 || 32)){%>
                                <%if(newValores.text.length !==24){%>
                                  Contraseña no válida <% if(typeof newValores !='undefined' ) { %>
                                    <%= newValores.key %>
                                      <%}%>
                                        <%}%>
                                          <%}%>
                                            <%}%>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <%}%>

    
        <br>
      
        <table class="table text-center table-light">
        
          <tr>
            <th>GUÍA PARA</th>
            <th>128 bits</th>
            <th>192 bits</th>
            <th>256 bits</th>
          </tr>
          <tr>
            <td>
              CONTRASEÑAS
            </td>
            <td>
              16 caracteres
            </td>
            <td>
              24 caracteres
            </td>
            <td>
              32 caracteres
            </td>
           
          </tr>
      </div>
      <%if(typeof newValores !='undefined' ) {%>
        <br>
        <div class="container text-center col-3">
          <strong>
            <h3>
              Resultado:
            </h3>
          </strong>
          <input disabled class="form-control text-center" value=<%=newValores.encrypted%>>
          <br>
          <div class="text-center btn-group-lg">
            <a href="/cifrar/descargar/<%= newValores.filename%>" class="pe-auto btn btn-danger">Descargar para descifrar</a>
          </div>
          <br>
          <%}%>

            <!-- Toasts -->
            <!-- TOASTS -->
            <% if(typeof validaciones !='undefined' ) { %>
              <% validaciones.forEach( (validacion)=> { %>
                <div class="toast-container">
                  <div class="toast" role="alert" aria-live="assertive" data-bs-autohide="false">
                    <div class="toast-header">
                      <svg class="bd-placeholder-img rounded me-2" width="20" height="20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <rect width="100%" height="100%" fill="#007aff"></rect>
                      </svg>
                      <strong class="me-auto">¡Atención!</strong>
                      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                      <strong>
                        <%= validacion.msg %>
                      </strong>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% }else{ %>
                  

        </div>
        <%}%>
          <!-- Alerts -->
          <!-- <% if(typeof validaciones != 'undefined') { %>
            <% validaciones.forEach( (validacion) => {  %> 
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong><%= validacion.msg %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }) %>
          <% } %> -->
          </div>
          <!-- Option 1: Bootstrap Bundle with Popper -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var toastElList = [].slice.call(document.querySelectorAll('.toast'))
              var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl)
              });
              toastList.forEach(toast => toast.show());
            });
          </script>
         
</body>

</html>